:root {
    --primary-text-color: #2E2F42;
}

/* GLOBAL STYLES */
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    Line-height: 1.28;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
footer, .hero-section {background-color: var(--primary-text-color);}

/* INDEX.HTML STYLES */
.hero-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #FFFFFF;
}

/* ЛОГОТИП */

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
}
.logo-dark {
    color: var(--primary-text-color);
}
.logo-white {
  color: #F4F4FD;
}
